<div class="card-columns m-5 animated fadeIn">

    <div
      *ngFor="let item of items"
      class="card puntero"
      (click)="showArtist( item )"
    >      
      <img [src]="item.images | noimage" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">
            <span *ngFor="let artist of item.artists" class="badge badge-pill badge-primary">
                {{ artist.name }}
            </span>
        </p>
      </div>
      
</div>